@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    padding: 50px 0px 0px 0px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.btn-primary {
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    padding: 18px 36px;
    color: white;
    font-weight: 700;
    font-size: 20px;

}

.text-primary {
    color: #FD6E0A;
}

/* banner styles */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0px 50px 0px 200px;
    align-items: center;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin-bottom: 5px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}

.banner-text {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
    color: #757575;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section style */
.about {
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 160px;
    border-radius: 10px;
}

.about-title {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
}

.about-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    text-align: center;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.info-title {
    font-weight: 400;
    font-size: 20px;
    color: #757575;
}

.info-description {
    font-weight: 700;
    font-size: 20px;

}

/* what i do style */
.whatIDo {
    padding: 130px 160px;
}

.whatIDoTitle {

    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
}

.whatIDoDescription {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    text-align: center;

}

/* my skills section style */
.mySkills {
    display: flex;
    gap: 24px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin: 30px 0px 0px 0px;
}

.skill-description {
    color: #757575;
    padding: 30px 0px;
    line-height: 28px;
}

/* resume style */
.resume-title {
    font-weight: 700;
    font-size: 35px;
    margin: 130px 0px 100px 0px;
    text-align: center;
}

.resume-section button {
    margin: 50px 400px 100px 400px;
}

.resume-container {
    display: flex;
    gap: 71px;
}

.educational-title,
.experiances-title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
}

.education-title,
.experiance-title {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
}

.education-period,
.experiance-period {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
}

.education-description,
.experiance-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
}

hr {
    margin-bottom: 30px;
}

/* footer section style */
.footer {
    background-color: #FFF8F3;
}

.footer-container {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    gap: 120px;
    padding-bottom: 130px;
}

.social-title,.login-title {
    font-weight: 700;
    font-size: 35px;
    margin-top: 130px;
}

.social-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    margin-top: 20px;
}
.social-icon{
    display: flex;
    margin-top: 30px;
    float: left;
    
}
.social-icon li{
    list-style: none;
    margin-right: 24px;
}
input{
    width: 100%;
    height: 64px;
    margin-top: 24px;
    border: none;
}
textarea{
    width: 100%;
    margin: 24px 0px;
    border: none;
}